<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>description</key>
		<string>UI设计</string>
		<key>dataSource</key>
		<array>
			<dict>
				<key>name</key>
				<string>UIButton</string>
				<key>description</key>
				<string>按钮使用</string>
				<key>className</key>
				<string>UIButtonViewController</string>
			</dict>
			<dict>
				<key>name</key>
				<string>UIGestureRecognizer</string>
				<key>description</key>
				<string>手势详解</string>
				<key>className</key>
				<string>ZPGestureRecognizerViewController</string>
			</dict>
			<dict>
				<key>name</key>
				<string>UIScrollView</string>
				<key>description</key>
				<string>UIScrollView控件</string>
				<key>className</key>
				<string>ZPFile3DScrollViewController</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>description</key>
		<string>对象之间通信</string>
		<key>dataSource</key>
		<array>
			<dict>
				<key>name</key>
				<string>iOS通知</string>
				<key>description</key>
				<string>对象之间通信方式</string>
				<key>className</key>
				<string>iOSNotificationViewController</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>description</key>
		<string>Web</string>
		<key>dataSource</key>
		<array>
			<dict>
				<key>name</key>
				<string>WKWebView</string>
				<key>description</key>
				<string>WKWebView使用</string>
				<key>className</key>
				<string>ZPWKWebViewController</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
