<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>description</key>
		<string>iOS手势</string>
		<key>dataSource</key>
		<array>
			<dict>
				<key>name</key>
				<string>UIGestureRecognizer</string>
				<key>description</key>
				<string>手势详解</string>
				<key>className</key>
				<string>ZPGestureRecognizerViewController</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>description</key>
		<string>UIScrollView</string>
		<key>dataSource</key>
		<array>
			<dict>
				<key>name</key>
				<string>UIScrollView嵌套</string>
				<key>description</key>
				<string>图片浏览器</string>
				<key>className</key>
				<string>ZPScrollViewController</string>
			</dict>
			<dict>
				<key>name</key>
				<string>轮播图实现</string>
				<key>description</key>
				<string>UIScrollView实现</string>
				<key>className</key>
				<string>ZPFile3DScrollViewController</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>description</key>
		<string>UITableView</string>
		<key>dataSource</key>
		<array>
			<dict>
				<key>name</key>
				<string>UITableiView编辑模式</string>
				<key>description</key>
				<string>cell的增删</string>
				<key>className</key>
				<string>ZPEditTableViewController</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>description</key>
		<string>对象之间通信</string>
		<key>dataSource</key>
		<array>
			<dict>
				<key>name</key>
				<string>iOS通知</string>
				<key>description</key>
				<string>对象之间通信方式</string>
				<key>className</key>
				<string>iOSNotificationViewController</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>description</key>
		<string>Web</string>
		<key>dataSource</key>
		<array>
			<dict>
				<key>name</key>
				<string>WKWebView</string>
				<key>description</key>
				<string>WKWebView使用</string>
				<key>className</key>
				<string>ZPWKWebViewController</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
