<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>interface_first_1</string>
		<key>titleName</key>
		<string>tableView控件的各种使用场景(下拉刷新、headerView放大)</string>
		<key>typeName</key>
		<string>UI·tableView</string>
		<key>cellType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>interface_first_2</string>
		<key>titleName</key>
		<string>UICollectionView控件的各种使用场景(瀑布流布局、自定义布局)</string>
		<key>typeName</key>
		<string>UI·collectionView</string>
		<key>cellType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>interface_first_3</string>
		<key>titleName</key>
		<string>UINavigationViewController和UINavigationBar的使用和适配问题</string>
		<key>typeName</key>
		<string>UI·navigation</string>
		<key>cellType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>interface_first_4</string>
		<key>titleName</key>
		<string>UITabbarViewController和UITabbarBar的使用和适配问题</string>
		<key>typeName</key>
		<string>UI·tabbar</string>
		<key>cellType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>interface_first_5</string>
		<key>titleName</key>
		<string>stoardboard和xib的使用，创建、加载、性能优化等等问题</string>
		<key>typeName</key>
		<string>UI·stoardboard/xib</string>
		<key>cellType</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
